<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="Content/css/styles.css">
    <title>Mad Libs!</title>
  </head>
  <body>
    <div class="container">
      <h3>The Family Visit</h3>
      <p>
        We are having a perfectly @Model.GetAdjective1() time this afternoon in the @Model.GetAdjective2() home of @Model.GetPerson(). The rooms are decorated with @Model.GetPluralNoun() for the holidays. We will feast on @Model.GetNoun1() and corn on the @Model.GetNoun2(). After the big feast we will @Model.GetVerb() a lot of @Model.GetVegetable() pie and @Model.GetColor() cake. Everyone retreats to the sofa to watch @Model.GetNoun3().
      </p>
    </div>
  </body>
</html>
